<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="cart-body">
        <h3>Tus productos agregados</h3>
        <div class="body">
            <div id="carrito-body"></div>
            <h5 id="vacio"></h5>
            <hr>
            <div class="elementos">
                <h2 class="total">Total</h2>
                <h2 id="precio-total"></h2>
            </div>
            <hr>
            <div class="separador-tb">
                <a href="/" class="btn">Continuar comprando</a>
                <a href="/users/login" class="btn separador">Finalizar compra</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer')%>
    <script src="/public/js/carrito02.js"></script>
    
</body>

</html>